.projectsSection {
   background: url(http://sylvaingarnot.fr/media/stars.png);
   // background: linear-gradient(to right, transparent, white);
   height: 600px;
   color: blue;
}

.projectsInfo {
   height: 300px;
   padding: 50px;
   transition: 1s;
}