.wrapper {
   max-width: 1000px;
   margin: 0 auto;
}

li {
   list-style: none;
}

a {
   text-decoration: none;
}

body {
   font-family:'Poppins', sans-serif;
}

ul {
   margin: 0;
   padding: 0;
}

h3 {
   font-size: 18px;
}

p, h3 {
   margin: 0;
}